{% extends "predictor/base.html" %}
{% block content %}
    <h1>About</h1>
    <h3>This is a study project with the intention of predicting match results for the online game league of legends.</h3>
    <h1>Usage</h1>
    <h5>At the point of completion this project aims to have a downloadable or web based interface where the user enters
        their summoner name in the client and receives a prediction of their ranked game, upon completion of the game
        data will be posted on the website.
    </h5>
    <h1>Statistics</h1>
    <h5>The program itself uses an artificial neural net to predict the match outcome. Other statistics will be available,
        including: predictor accuracy, activity and top users. This should be dynamic content updating in real-time.
    </h5>
{% endblock content %}